@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: roboto;
}
.Navi {
  font-family: Roboto;
  font-weight: 700;
}
.t-color {
  color: rgb(33, 33, 103) !important;
}
.t-color:hover {
  color: #008248 !important;
}

.uyari {
  font-weight: 500;
  color: black !important;
  font-size: 19px;
}

.uyari:hover {
  color: black !important;
  text-decoration: none;
}

.hero {
  background-color: #d8e8e3;
}

.footer-bg {
  background-color: #f2e2ce;
}
.footer-bg1 {
  background-color: #f7f7f7;
}
.link-color {
  color: #008248 !important;
  font-weight: bold;
  text-decoration: none;
}
.link-color:hover {
  background-color: #008248 !important;
  color: white !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .scale {
    transform: scale(1) !important;
  }
  .pano1-mobil {
    content: url("../images/mobil/hersey-seninle.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pano2-mobil {
    content: url("../images/mobil/pumpkin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pano3-mobil {
    content: url("../images/mobil/affagato.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pano4-mobil {
    content: url("../images/mobil/refresha.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pano5-mobil {
    content: url("../images/mobil/acilis.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pano6-mobil {
    content: url("../images/mobil/salted.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pano7-mobil {
    content: url("../images/mobil/50-yil.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pano8-mobil {
    content: url("../images/mobil/reserve.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .button-siyah {
    background-color: black;
    border-radius: 50px;
    color: white !important;
    /* padding: 7px 16px; */
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    /* width: 50px !important; */
  }
  .button-siyah:hover {
    background-color: rgb(54, 54, 54) !important;
    border-radius: 50px;
    color: white;
  }
  .button-beyaz {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    color: black !important;
    border-color: black !important;
    font-weight: 600;
    /* padding: 7px 16px; */
    text-align: center;
    text-decoration: none;
    background-color: white;
  }
  .button-beyaz:hover {
    background-color: lightgray !important;
    border-radius: 50px;
    color: black;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .scale {
    transform: scale(1) !important;
  }
  .pano1-mobil {
    content: url("../images/mobil/hersey-seninle.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano2-mobil {
    content: url("../images/mobil/pumpkin.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano3-mobil {
    content: url("../images/mobil/affagato.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano4-mobil {
    content: url("../images/mobil/refresha.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano5-mobil {
    content: url("../images/mobil/acilis.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano6-mobil {
    content: url("../images/mobil/salted.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano7-mobil {
    content: url("../images/mobil/50-yil.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano8-mobil {
    content: url("../images/mobil/reserve.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .button-siyah {
    background-color: black;
    border-radius: 50px;
    color: white !important;
    /* padding: 7px 16px; */
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    /* width: 50px !important; */
  }
  .button-siyah:hover {
    background-color: rgb(54, 54, 54) !important;
    border-radius: 50px;
    color: white;
  }
  .button-beyaz {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    color: black;
    border-color: black !important;
    font-weight: 600;
    /* padding: 7px 16px; */
    text-align: center;
    text-decoration: none;
    background-color: white;
  }
  .button-beyaz:hover {
    background-color: lightgray !important;
    border-radius: 50px;
    color: black;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .scale {
    transform: scale(1) !important;
  }
  .pano1 {
    content: url("../images/pc/hersey-seninle.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.5cm;
    transform: scale(1.8);
    margin-bottom: 0.5cm;
    display: block;
  }
  .pano2 {
    content: url("../images/pc/pumpkin.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.8);
    margin-top: 2.5cm;
    margin-bottom: 0.5cm;
  }
  .pano3 {
    content: url("../images/pc/affagato.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.8);
    margin-top: 2.5cm;
    margin-bottom: 0.5cm;
  }
  .pano4 {
    content: url("../images/pc/refresha.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.8);
    margin-top: 2.5cm;
    margin-bottom: 0.5cm;
  }
  .pano5 {
    content: url("../images/pc/acilis.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.8);
    margin-top: 2.5cm;
    margin-bottom: 0.5cm;
  }
  .pano6 {
    content: url("../images/pc/salted.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.8);
    margin-top: 2.5cm;
    margin-bottom: 0.5cm;
  }
  .pano7 {
    content: url("../images/pc/50-yil.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.8);
    margin-top: 2.5cm;
    margin-bottom: 0.5cm;
  }
  .pano8 {
    content: url("../images/pc/reserve.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.8);
    margin-top: 2.5cm;
    margin-bottom: 0.5cm;
  }
  .button-siyah {
    background-color: black;
    border-radius: 50px;
    color: white !important;
    /* padding: 7px 16px; */
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    /* width: 50px !important; */
  }
  .button-siyah:hover {
    background-color: rgb(54, 54, 54) !important;
    border-radius: 50px;
    color: white;
  }
  .button-beyaz {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    color: black;
    border-color: black !important;
    font-weight: 600;
    /* padding: 7px 16px; */
    text-align: center;
    text-decoration: none;
    background-color: white;
  }
  .button-beyaz:hover {
    background-color: lightgray !important;
    border-radius: 50px;
    color: black;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .scale {
    transform: scale(1) !important;
  }
  .pano1 {
    content: url("../images/pc/hersey-seninle.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano2 {
    content: url("../images/pc/pumpkin.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano3 {
    content: url("../images/pc/affagato.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano4 {
    content: url("../images/pc/refresha.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano5 {
    content: url("../images/pc/acilis.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano6 {
    content: url("../images/pc/salted.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano7 {
    content: url("../images/pc/50-yil.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .pano8 {
    content: url("../images/pc/reserve.png");
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1) !important;
  }
  .button-siyah {
    background-color: black;
    border-radius: 50px;
    color: white !important;
    /* padding: 7px 16px; */
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    /* width: 50px !important; */
  }
  .button-siyah:hover {
    background-color: rgb(54, 54, 54) !important;
    border-radius: 50px;
    color: white;
  }
  .button-beyaz {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    color: black;
    border-color: black !important;
    font-weight: 600;
    /* padding: 7px 16px; */
    text-align: center;
    text-decoration: none;
    background-color: white !important;
  }
  .button-beyaz:hover {
    background-color: lightgray !important;
    border-radius: 50px;
    color: black;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .scale {
    transform: scale(1) !important;
  }
  .pano1 {
    content: url("../images/pc/hersey-seninle.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .pano2 {
    content: url("../images/pc/pumpkin.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .pano3 {
    content: url("../images/pc/affagato.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .pano4 {
    content: url("../images/pc/refresha.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .pano5 {
    content: url("../images/pc/acilis.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .pano6 {
    content: url("../images/pc/salted.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .pano7 {
    content: url("../images/pc/50-yil.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .pano8 {
    content: url("../images/pc/reserve.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
  }
  .button-siyah {
    background-color: black;
    border-radius: 50px;
    color: white !important;
    padding: 7px 16px;
    font-weight: 600;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    width: 100px;

    /* width: 50px !important; */
  }
  .button-siyah:hover {
    background-color: rgb(54, 54, 54) !important;
    border-radius: 50px;
    color: white;
  }
  .button-beyaz {
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    color: black;
    border-color: black !important;
    font-weight: 600;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    width: 100px;
  }
  .button-beyaz:hover {
    background-color: lightgray !important;
    border-radius: 50px;
    color: black;
  }
}

.yesilcubuk {
  background-color: rgba(0, 99, 65, 1);
  min-height: 10px;
  display: block;
  margin: 0;
  padding: 0;
}
